
.selectSeats{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: visible;
}
.selectSeats h2{
    padding-bottom: 10px;
}
.seats{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}
.subtitle{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}
.subtitle section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subtitle label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.013em;
    color: #4E5A65;
}

form{
    margin-top: 41px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form section{
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    width: 100%;
}
form label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #293845;
}
form input{
    width: 415px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
}
form button{
    width: 225px;
    height: 42px;
    background: #E8833A;
    border-radius: 3px;
    margin-top: 40px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}