.selectSeats{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.selectSeats h2{
    padding-bottom: 10px;
}
.seats{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}
.subtitle{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 16px;
}
.subtitle section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subtitle label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.013em;
    color: #4E5A65;
}