footer{
    display: flex;
    background: #DFE6ED;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 14px;
    height: 88px;
}
footer img{
    width: 48px;
    height: 72px;
    margin-right: 14px;
}
footer .informations{
    display: flex;
}
.informations h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #293845;
}